@model Qiyas.BusinessLogicLayer.Entity.PPM.ExamCenterRequiredExam

@{
    ViewBag.Title = Resources.MainResource.ExamCenterNeedsTitle;
}


<div class="page-title">
    <h1>
        @Resources.MainResource.ExamCenterNeedsTitle
    </h1>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="widget-container fluid-height clearfix">
            <div class="widget-content padded clearfix">
                @using (Html.BeginForm("SaveNeeds", "ExamCenterNeeds", FormMethod.Post, new { @class = "form-horizontal", role = "form", @id = "packForm", @name = "packForm", @enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
        رفع الملف
    </button>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">حفظ الملف</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        @Html.LabelFor(m => m.ExamPeriodName, new { @class = "col-md-5  pull-right control-label" })
                        <div class="col-md-7  pull-right">
                            @Html.DropDownListFor(m => m.ExamPeriodID, new SelectList(new Qiyas.BusinessLogicLayer.Components.PPM.ExamPeriodLogic().GetAll(), "ExamPeriodID", "Name"), new { @class = "form-control col-md-6" })
                        </div>
                    </div>
                    <div class="form-group">

                        <div class="col-md-7 pull-right">
                            <input type="file" id="file" name="file" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">اغلاق</button>
                    <button type="submit" class="btn btn-primary">حفظ</button>
                </div>
            </div>
        </div>
    </div>
                    
                }
                <br />
                <br />
                @Html.Action("ExamCenterNeedsGridViewPartial")

            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
    function CustomButtonClick(s, e, url) {
        var key = s.GetRowKey(e.visibleIndex);

            if (e.buttonID === "btnViewNeededItems") {
                url = "@Url.Action("BrowseItems", "ExamCenterNeeds")";
                var destUrl = url + "/" + key;
                window.location.href = destUrl;
            }
            if (e.buttonID === "btnPrepareForWithdraw") {
                url = "@Url.Action("SendItemsRequest", "ExamCenterNeeds")";
                var destUrl = url + "/" + key;
                window.location.href = destUrl;
            }
            if (e.buttonID === "btnViewPrintItems") {
                url = "@Url.Action("WithdrawReport", "ExamCenterNeeds")";
                var destUrl = url + "/" + key + "/request";
                window.location.href = destUrl;
            }
             if (e.buttonID === "btnViewContainerItems") {
                url = "@Url.Action("ContainerRequest", "ExamCenterNeeds")";
                var destUrl = url + "/" + key;
                window.location.href = destUrl;
            }

        }
    </script>
}
