@model Qiyas.BusinessLogicLayer.Entity.PPM.ExamCenterRequiredExam
@{

    ViewBag.Title = @Resources.MainResource.ShippingBagTitle;
}

<div class="page-title">
    <h1>
        @Resources.MainResource.ShippingBagTitle
    </h1>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="widget-container fluid-height clearfix">
            <div class="widget-content padded clearfix">

                @using (Html.BeginForm("SaveContainerRequest", "ExamCenterNeeds", FormMethod.Post, new { @class = "form-horizontal", role = "form", @id = "packForm", @name = "packForm", @enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="col-lg-4 pull-right">
                        <div class="form-group">
                            @Html.LabelFor(m => m.ExamPeriodName, new { @class = "col-md-5  pull-right control-label" })
                            <div class="col-md-7  pull-right">
                                @Html.TextBoxFor(m => m.ExamPeriodName, new { @class = "form-control col-md-6" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.ExamCenterName, new { @class = "col-md-5  pull-right control-label" })
                            <div class="col-md-7 pull-right">
                                @Html.TextBoxFor(m => m.ExamCenterName, new { @class = "form-control" })
                            </div>
                        </div>

                        @Html.Action("ShippingBagsGridViewPartial")

                        <br /><br />
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="button" name="PrintReport" data-id="@Model.ExamCenterRequiredExamsID" id="PrintReport" value="طباعة تقرير صرف" class="btn btn-default btn-primary" />
                                <input type="button" name="PrintReportGard" data-id="@Model.ExamCenterRequiredExamsID" id="PrintReportGard" value="طباعة تقرير جرد" class="btn btn-default btn-primary" />
                                <input type="button" name="BackButton" id="BackButton" value="عودة" class="btn btn-default " />
                            </div>
                        </div>



                    </div>
                }
            </div>
        </div>
    </div>


    @section Scripts {
        <script type="text/javascript">
    $("#PrintReport").click(function () {
        var id = $(this).attr('data-id');
        window.location = "@Url.Action("ShippingReport", "ExamCenterNeeds")" + "/" + id;
        @*var form = $("form#packForm");
        form.attr("action", "@Url.Action("ShippingReport", "ExamCenterNeeds")");

        form.submit();*@
    });

    $("#PrintReportGard").click(function () {
        var id = $(this).attr('data-id');
        window.location = "@Url.Action("GardReport", "ExamCenterNeeds")" + "/" + id;
        @*var form = $("form#packForm");
                form.attr("action", "@Url.Action("ShippingReport", "ExamCenterNeeds")");

                form.submit();*@
    });



    $("#BackButton").click(function (e) {
        e.preventDefault();
        window.location = "/ExamCenterNeeds";
        return false;
        @*var form = $("form#packForm");
            form.attr("action", "@Url.Action("PrinPacks", "BookPackingOperation", Qiyas.WebAdmin.Controllers.BookPackingOperationController.MainID)");
            form.submit();*@
    });

            var urlMain = '';
            var keyMain = '';
            var eMain = null;
    function CustomButtonClick(s, e, url) {
        var key = s.GetRowKey(e.visibleIndex);
        urlMain = url;
        keyMain = key;
        eMain = e;
        
        if (e.buttonID === "btnViewShippingBags") {
            var serial = s.GetRowValues(e.visibleIndex, 'ShippingBagSerial', OnGetRowValues);
        }
        return;


    }

            function OnGetRowValues(Value) {
                // Right code

                var url = "@Url.Action("ShippingBagItems", "ExamCenterNeeds")";
                
                var destUrl = urlMain + "/" + keyMain + "/" + Value;
                window.location.href = destUrl;
                // This code will cause an error
                // alert(Value[0]);
            }

        </script>
    }
