@model Qiyas.BusinessLogicLayer.Entity.PPM.BookPrintingOperation

@{
    ViewBag.Title = @Resources.MainResource.BookPackingTitle;
}

<div class="page-title">
    <h1>
        @Resources.MainResource.BookPackingTitle
    </h1>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="widget-container fluid-height clearfix">
            <div class="widget-content padded clearfix">

                @using (Html.BeginForm("SavePackage", "BookPackingOperation", FormMethod.Post, new { @class = "form-horizontal", role = "form", @id = "packForm", @name = "packForm" }))
                {
                    @Html.AntiForgeryToken()

                    if (ViewBag.HasError)
                    {
                        <div class="alert alert-danger">@ViewBag.NotifyMessage</div>
                    }
                    else if (!string.IsNullOrEmpty(ViewBag.NotifyMessage))
                    {
                        <div class="alert alert-success">@ViewBag.NotifyMessage</div>
                    }
                    <div class="col-lg-4 pull-right">
                        @Html.ValidationSummary("", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(m => m.ExamCode, new { @class = "col-md-5  pull-right control-label" })
                            <div class="col-md-4  pull-right">
                                @Html.TextBoxFor(m => m.ExamCode, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.PrintsForOneModel, new { @class = "col-md-5  pull-right control-label" })
                            <div class="col-md-4 pull-right">
                                @Html.TextBoxFor(m => m.PrintsForOneModel, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.ExamsNeededForA3, new { @class = "col-md-5  pull-right control-label" })
                            <div class="col-md-4 pull-right">
                                @Html.TextBoxFor(m => m.ExamsNeededForA3, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.ExamsNeededForCD, new { @class = "col-md-5  pull-right control-label" })
                            <div class="col-md-4 pull-right">
                                @Html.TextBoxFor(m => m.ExamsNeededForCD, new { @class = "form-control" })
                            </div>
                        </div>
                        <hr />
                    </div>
                    <br /><br />
                    @Html.Action("PackingGridViewPartial")
                    <br /><br />
                    <div class="pull-left">
                        <table>
                            <tr>
                                <td style="margin-left:10px;margin-bottom:10px;">
                                    اجمالي عدد الحزم
                                </td>
                                <td style="margin-left:10px;margin-bottom:10px;">
                                    <input id="bpoTotalPackage" type="text" readonly="readonly" value="0" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                   اجمالي عدد الحزم للنموذج
                                </td>
                                <td>
                                    <input id="bpoTotalPackagePerModel" type="text" readonly="readonly" value="0" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    اجمالي كمية الكتب للنموذج
                                </td>
                                <td>
                                    <input id="bpoTotalPackageBooksPerModel" type="text" readonly="readonly" value="0" />
                                </td>
                            </tr>
                        </table>

                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            @if (ViewBag.IsSaved)
                            {
                            <input type="submit" name="PrintPacks" id="PrintPacks" value="طباعة ملصقات" class="btn btn-default btn-primary" />
                            }
                            else
                            {
                            <input type="submit" name="NumberingPacks" id="NumberingPacks" value="ترقيم الحزم" class="btn btn-default btn-primary" />
                            }

                            @*<input type="submit" name="SavePack" id="SavePack" value="حفظ" class="btn btn-default btn-primary" />*@



                            <input type="submit" name="DeletePack" id="DeletePack" value="حذف" class="btn btn-default btn-primary" />
                            <input type="button" name="BackButton" id="BackButton" value="عودة" class="btn btn-default " />
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script type="text/javascript">
        
        function GetPackingTotals(urlLink) {
            
            
            $.ajax({
                type: "POST",
                dataType: "json",
                data:  {
                    item: 0
                },
                url: urlLink,
                success: function (data) {
                    
                    $('#bpoTotalPackage').val(data.Total);
                    $('#bpoTotalPackagePerModel').val(data.TotalPerModel);
                    $('#bpoTotalPackageBooksPerModel').val(data.TotalBooksPerModel);
                    
                    //totalObject.Total = totalCount;
                    //totalObject.TotalA3 = totalA3;
                    //totalObject.TotalBooksPerModel = totalBooksPerModel;
                    //totalObject.TotalPerModel = totalPerModel;
                },
                error: function (data) {
                    alert("e" + data);
                    //$('#packageExists').hide();
                    //$('#packageDoesntExist').show();
                }
            });

        }
        $("#SavePack").click(function (e) {
            var r = confirm("هل تريد حفظ التحزيم");
            if (r == true) {
                var form = $("form#packForm");
                form.attr("action", "@Url.Action("SavePack", "BookPackingOperation")");
                form.submit();
            } else {
                e.preventDefault();
                return false;
                //e.cancel = true;
                
            }
        
    });

        $("#DeletePack").click(function (e) {
            var r = confirm("هل تريد حذف هذا التحزيم");
            if (r == true) {
                var form = $("form#packForm");
                form.attr("action", "@Url.Action("DeletePack", "BookPackingOperation")");
                form.submit();
            } else {
                e.preventDefault();
                return false;
            }
        
    });

    $("#NumberingPacks").click(function (e) {
            var r = confirm("هل تريد إتمام الترقيم");
            if (r == true) {
                var form = $("form#packForm");
                form.attr("action", "@Url.Action("NumberingPack", "BookPackingOperation")");
                form.submit();
            } else {
                e.preventDefault();
                return false;
            }
        
    });

        $("#PrintPacks").click(function (e) {
            e.preventDefault();
            window.location = "/BookPackingOperation/PrintPacks/" + @Qiyas.WebAdmin.Controllers.BookPackingOperationController.MainID;
            return false;
            @*var form = $("form#packForm");
            form.attr("action", "@Url.Action("PrinPacks", "BookPackingOperation", Qiyas.WebAdmin.Controllers.BookPackingOperationController.MainID)");
            form.submit();*@
        });

        $("#BackButton").click(function (e) {
            e.preventDefault();
            window.location = "/BookPrintingOperation";
            return false;
            @*var form = $("form#packForm");
            form.attr("action", "@Url.Action("PrinPacks", "BookPackingOperation", Qiyas.WebAdmin.Controllers.BookPackingOperationController.MainID)");
            form.submit();*@
        });
    </script>
}