@model Qiyas.BusinessLogicLayer.Entity.PPM.BookPrintingOperation

@{
    ViewBag.Title = @Resources.MainResource.PrintPacksTitle;
}

<div class="page-title">
    <h1>
        @Resources.MainResource.PrintPacksTitle
    </h1>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="widget-container fluid-height clearfix">
            <div class="widget-content padded clearfix">
                @Html.Action("PrintPacksTitleDocumentViewerPartial")
                <br />
                <br />
                <form>
                    <input type="button" name="BackButton" id="BackButton" value="عودة" class="btn btn-default " />
                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script type="text/javascript">
    $("#BackButton").click(function (e) {
        e.preventDefault();
        var url = "@Url.Action("Index", "BookPackingOperation")" + "/Index/" + "@Model.BookPrintingOperationID";
        window.location = url ;
        return false;

    });
</script>
}