@{
    Layout = "~/Views/Shared/_Layout_Login.cshtml";
    ViewBag.Title = Resources.MainResource.ResetPasswordConfirmationTitle;
}

<h4>@Resources.MainResource.ResetPasswordConfirmationTitle</h4>
<div>
    <p>
        @Resources.MainResource.ResetPasswordConfirmationMainLabel <br /><br />
        @Resources.MainResource.ResetPasswordConfirmationMainPleaseLabel @Html.ActionLink(@Resources.MainResource.ResetPasswordConfirmationMainClickHereLinkLabel, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
