@model Qiyas.WebAdmin.Models.ResetPasswordViewModel
@{
    Layout = "~/Views/Shared/_Layout_Login.cshtml";
    ViewBag.Title = Resources.MainResource.ResetPasswordTitle;
}


@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>@Resources.MainResource.ResetPasswordTitle</h4>
    @Html.ValidationSummary("", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Code)
    <div class="form-group">
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = Resources.ModelResource.Email })
    </div>
    <div class="form-group">
        @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder= Resources.ModelResource.Password })
    </div>
    <div class="form-group  verify-code-submit">
        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = Resources.ModelResource.ConfirmPassword })
        <input type="submit" class="btn btn-default" value="&#xf053;" />
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
